apiVersion: v1
kind: Service
metadata:
  name: jellyfin-service
spec:
  type: NodePort
  selector:
    app: jellyfin
  ports:
    - port: 8096
      targetPort: 8096
      # nodePort removed to avoid 'already allocated' conflicts; let Kubernetes assign

